/* LEGACY STYLES */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* SOLUTIONS */
*{
  font-family: 'Raleway', sans-serif;
}
body{
  background-color: hsl(228, 72%, 8%);
  background-image: url('images/bg-desktop.svg');
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-size: 14px;
  color: #fff;
}

.Content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vw;
  max-width: 60vw;
  margin: auto;
}
.Content__Options{
  flex: 30%;
  height: 150px;
  margin-right: 15px;
  background-color: hsl(228, 45%, 44%);
  border-radius: 10px 100px 10px 10px;
  padding: 10px;
  align-self: flex-end;
}
.Content__Status{
  flex: 70%;
  height: 100px;
  background-color: hsl(228, 45%, 44%);
  border-radius: 10px;
  padding: 10px;
  align-self: flex-end;
}

footer{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}